<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phonebook</title>
</head>
<body>
    <header>
        <h1>Welcome to My Phonebook</h1>
    </header>
    <main>
        <a href="{{url_for('add')}}">Add New Contact</a>
        <ul>
            {% for contact in contacts %}
                <li>
                    {{ contact[1] }} - {{ contact[2] }}
                    <a href="{{url_for('edit', pbid=contact[0])}}">Edit</a>
                    <a href="{{url_for('delete', pbid=contact[0])}}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </main>


    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>